
        html,
        body {
            overflow: hidden;
            position: relative;
            height: 100%;
        }
        html {
            font-size: 100%; /*62.5%*/
        }
        .iframe-hidden {
            visibility: hidden;
            height: 0;
            width: 0;
        }
        body {
            background: #fafafa;
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);
            margin: 0;
            padding: 0;
            font-weight: 400;
            color: #000;
            overflow: hidden;
            position: relative;
            -webkit-transition: background 0.5s ease-out, color 0.5s ease-out;
            -moz-transition: background 0.5s ease-out, color 0.5s ease-out;
            -o-transition: background 0.5s ease-out, color 0.5s ease-out;
            transition: background 0.5s ease-out, color 0.5s ease-out;
        }
        body * {
            box-sizing: border-box;
        }
        body svg {
            fill: black;
            stroke: black;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
        }

        body svg.active{
            stroke: red;
        }
        body.light {
            color: #fff;
        }
        body.light svg {
            stroke: white;
            fill: white;
        }
        h1 {
            line-height: 36px;
            font-weight: 400;
            margin-bottom: 40px;
        }
        h1 > small {
            font-weight: 300;
            font-size: 22px;
        }
        h1 > big {
            font-weight: 900;
            font-size: 46px;
        }
        h3 {
            font-weight: 400;
            margin: 0;
            padding: 0;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 1px;
        }
        .text-right {
            text-align: right;
        }
        .logo {
          width: 60px;
        }
      
        .iframe-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 73%;
            height: 100vh;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background: transparent;
            *background: red;
        }
        #api-frame {
            height: 100%;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            border: 0 none;
            outline: none;
            background: transparent;
            z-index: 1;
        }
        .iframe-gradient {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            
        }
        @keyframes loader-animation {
            0%   {opacity: 1;}
            50%  {opacity: 0.6;}
            100% {opacity: 1;}
        }
        .iframe-loader {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 11;
            display: block;
            color: #000;
            font-family: 'MMC', sans-serif;
            font-weight: 700;
            font-size: 1.2rem;
            pointer-events: none;
        }
        .iframe-loader > div {
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 3px;
            background: #000;
        }
        .iframe-loader.hidden {
            animation: none;
            opacity: 0;
            -webkit-transition: all 0.25s ease-out;
            -moz-transition: all 0.25s ease-out;
            -o-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
        }
        .iframe-mask {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #fafafa;
            opacity: 1;
            z-index: 10;
            -webkit-transition: all 1.5s ease-out;
            -moz-transition: all 1.5s ease-out;
            -o-transition: all 1.5s ease-out;
            transition: all 1.5s ease-out;
        }
        .iframe-mask.hidden {
            opacity: 0;
            pointer-events: none;
            -webkit-transition: all 1.5s ease-out;
            -moz-transition: all 1.5s ease-out;
            -o-transition: all 1.5s ease-out;
            transition: all 1.5s ease-out;
        }
        .views {
            position: absolute;
            right: 50px;
            bottom: 5px;
            z-index: 21;
            user-select: none;
            text-align: center;
        }
        .views > div {
            position: relative;
            user-select: none;
            cursor: pointer;
            width: 40px;
            height: 40px;
            background: transparent;
            display: inline-block;
            margin-right: 0;
            margin-left: 5px;
        }
        .views > div svg,
        .views > div img {
            height: 30px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
        }
        .colors {
            /*position: absolute;*/
            background: #fff;
            padding: 10px;
            left: 20px;
            bottom: 0px;
            z-index: 20;
            width: 100%;
            user-select: none;
            /*margin-bottom: -155px;*/
            text-align: center;
            display: none;
            /*-webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;*/
        }
        .colors div {
            display: inline-block;
            /*margin-left: 5px;
            margin-right: 5px;*/
            cursor: pointer;
            user-select: none;
            position: relative;
            height: 25px;
            width: 25px;
        }
        .colors div > img {
            width: 60px;
            height: auto;
        }
        .colors.active {
            display: block;
            
        }
        .colors div.active {
            border: 1px solid #242424;
        }
        .colors span {
            /*position: absolute;*/
            top: 8px;
            left: 15px;
            /*color: #000 !important;*/
        }
        .top {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 20;
            width: 100%;
        }
        .banner {
            width: 100%;
            background: rgba(0,0,0,0.6);
            color: rgba(255,255,255,0.85);
            text-align: center;
            padding: 15px;
            font-size: 14px;
            font-weight: 400;
            border-bottom: 1px solid #000000;
        }
        .banner a {
            color: #fff;
            text-decoration: underline;
        }
        .navigation {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
        }
        .navigation__left .rings {
            width: auto;
            height: 20px;
            position: relative;
            display: inline-block;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
        }
        .navigation__right svg {
            height: 36px;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
        }
        #top-right {
            position: absolute;
            right: 50px;
            top: 90px;
            z-index: 20;
            width: 224px;
            min-width: 180px;
        }
        #top-right span {
            display: block;
            font-family: 'MMC', sans-serif;
            text-align: left;
        }
        #top-right .selector-box {
            margin-top: 0;
            margin-bottom: 20px;
        }
        #top-right span.car-name {
            font-size: 2.125rem;
            margin-top: 0;
            margin-bottom: 5px;
            cursor: pointer;
        }
        #top-right span + span.small {
            max-height: 0;
            padding-top: 0px;
            padding-bottom: 0px;
            -webkit-transition: max-height 0.25s ease-in, padding 0.25s ease-in;
            -moz-transition: max-height 0.25s ease-in, padding 0.25s ease-in;
            -o-transition: max-height 0.25s ease-in, padding 0.25s ease-in;
            transition: max-height 0.25s ease-in, padding 0.25s ease-in;
        }
        #top-right span.active + span.small {
            max-height: 300px;
            padding-top: 20px;
            padding-bottom: 20px;
            -webkit-transition: max-height 0.25s ease-in, padding 0.25s ease-in;
            -moz-transition: max-height 0.25s ease-in, padding 0.25s ease-in;
            -o-transition: max-height 0.25s ease-in, padding 0.25s ease-in;
            transition: max-height 0.25s ease-in, padding 0.25s ease-in;
        }
        #top-right span.small {
            font-size: .875rem;
            line-height: 1.5625rem;
            transform-origin: top;
            display: block;
            overflow: hidden;
        }
        #top-right span.car-feature {
            margin-top: 0;
            margin-bottom: 0;
            cursor: pointer;
        }
        #top-right span.car-feature + span.small {
            font-size: .8125rem;
            line-height: 1.4375rem;
            *margin: 20px 0;
            font-family: 'MMC', sans-serif;
        }
        #top-right span.car-feature.price {
            font-size: 1.875rem;
            letter-spacing: 8px;
            line-height: 1rem;
            font-family: 'MMC', sans-serif;
            margin-top: 50px;
        }

        .timeSelector{
            margin-top: 10px;
            left: 50%;
            bottom: -35px;
            z-index: 1;
        }


        @media (max-aspect-ratio: 12/10) {

            .timeSelector{
                top: 43% !important;
                bottom: unset !important;
            }
            
            .colors div{
                width: 30px !important;
                height: 30px !important;
            }

            .btn-group button{
                width: 67px;
            }

            #top-right {
                top: 50%;
                width: 100%;
                padding: 17px 0px 17px 17px;
                right: 2px;
            }

            .info-area {
                padding-right: 17px;
                height: 35vh;
                overflow: scroll;
            }

            .navigation__right {
                right: 40px;
            }
            .views {
                right: 40px;
            }
            .iframe-container {
                width: 100% !important;
                height: 50vh;
            }
            .iframe-loader {
                top: 25%;
            }
            #top-right span.descr {
                display: none !important;
            }
            .colors div > img {
                width: 40px;
            }
            .colors {
                /*padding: 10px 3px 0;
                margin-bottom: -450px;*/
            }
            .colors div {
                /*display: block;
                margin-bottom: 10px;*/
            }
            .colors span.info {
                /*display: none !important;*/
            }
        }
        @media (max-height: 900px) {
            .info-area{
                height: 29vh;
            }

        }

        @media (max-width: 1460px) {
            .iframe-container{
                width: 69%;
            }

        }
        

        @media (min-aspect-ratio: 12/10) and (max-height: 600px) {
            #top-right {
                top: 20px;
                right: 0px;
                width: 30%;
            }

            

            .iframe-container{
                width: 69% !important;
            }

            .btn-group button.gls{
                width: 40px;
            }

            .btn-group button.awd{
                width: 65px;
            }

            .btn-group button.hpe{
                width: 40px;
            }

            .btn-group button.hpes{
                width: 60px;
            }

            .modelButtons{
                left: 50% !important;
                top: 35px !important;
                bottom: unset !important;
                
            }

            .btn-group.day{
                height: 36px;
            }
            .btn-group button.dia{
                width: 64px;
            }
            .btn-group button.noite{
                width: 64px;
            }

            .colors div{
                width: 20px;
                height: 20px;
            }

            .info-area {
                height: 250px;
                padding-right: 20px;
            }

            .views {
                right: 40px;
            }
            .navigation__right {
                display: none;
            }
            .colors div > img {
                width: 40px;
            }
        }

        .btn-group {
            background-color: white;
            border: 1px solid #ff0000;
            border-radius: 8px;
            height: 36px;
            display: inline-block;
        }

        .btn-group button {
          background-color: #fd3c3c00; /* Green background */
          border: 0px solid rgb(241, 115, 115); /* Green border */
          color: #ff0000; /* White text */
          font-family: 'MMC', sans-serif;
          font-weight: bold;
          /*padding: 10px 42px; /* Some padding */
          cursor: pointer; /* Pointer/hand icon */
          /*margin-bottom: 25px;*/
          width: 90px;
          border-radius: 8px;
          margin-top: 4px;
          
          /*margin-bottom: 25px;*/
        }

        .btn-group button:focus{
            outline: 0;
        }

        .btn-group button:hover{
            background-color: #fadbdb !important;
            color: #ff0000 !important;
        }

        .btn-group button.active{
            background-color: #ff0000;
            color: white;
            border: 0px;
        }

        .btn-group button:not(:last-child) {
          border-right: none; /* Prevent double borders */
        }

        /* Clear floats (clearfix hack) */
        .btn-group:after {
          content: "";
          clear: both;
          display: table;
        }

        .modelButtons{
           
            left: 68%;
            bottom: -35px;
            margin: 0 auto;
            z-index: 32;
        }

        .btn-group button.gls{
            width: 40px;
        }

        .btn-group button.awd{
            width: 65px;
        }

        .btn-group button.hpe{
            width: 40px;
        }

        .btn-group button.hpes{
            width: 60px;
        }

        /* Add a background color on hover */
        .btn-group button:hover {
          background-color: #e0e0e0;
        }
 
        .car-info{
            height: 64px;
            padding-top: 5px;
        }


        .potencia{
            float: left;
            letter-spacing: 2px;
            text-align: center; 
            font-weight: bolder;
        }

        .km{
            float: right;
            letter-spacing: 2px;
            text-align: center; 
            font-weight: bolder;
        }

        .exterior-items span{
            font-size: 12px;
            text-align: left;
            display: inline-block;
        }

        .exterior-items.active{
            display: block;
        }

        .exterior-items{
            display: none;
            margin-bottom: 20px;
        }

        .interior-items span{
            font-size: 12px;
            text-align: left;
            display: inline-block;
        }

        .interior-items.active{
            display: block;
        }

        .interior-items{
            display: none;
            margin-bottom: 20px;
        }