<div class="sidebar sticky-top">   
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
        <h5><span>Translate/Traduza/Traducir</span></h5>
        <center>
            <div id="google_translate_element"></div>
        </center>
    </div>
    <div class="sidebar-section">
        <h5><span>Your Ad Here</span></h5>
        <a class="twitter-timeline" href="https://twitter.com/lightshaftdev?ref_src=twsrc%5Etfw">Tweets by lightshaftdev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <!--<img src="{{site.baseurl}}/assets/images/ad.png"> -->
    </div>
</div>